
:root{
--col_bg: hsl(205, 64%, 85%);
--col_title: #8ed1d6;
--col_info: #1f1f2c;
--wpage: 85%;
font-family: 'Open Sans', Helvetica, sans-serif;
}
body {
    background-color: var(--col_bg);
    color: var(--col_title);
}
main{
    background-color: var(--col_bg);
    color: var(--col_title);
    margin: 1em;
    padding: 1em;
    
}
.titolo{
    font-family: 'Open Sans', Helvetica, sans-serif;
    clear: both;
    background-color: #575c7e;
    width: var(--wpage);
    padding: auto;
    margin: auto;
    display: flex;
   
}

.baiana{
    padding: 1em;
    padding-top: 0%;
    background-color: #575c7e;
    width: 60%;
}

.info{
    width: 35%;
    float: right;
    }
    

.h1t{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: var(--col_title);
    padding: 1em;   
    
}
.h2t{
    background-color: var(--col_info);
    padding: 10px;
    text-align: right;
    font-size: 14px;
    
}

.h3t{
    background-color:var(--col_info, #1f1f2c);
    padding: 10px;
    text-align: right;
    font-size: 11px;
    
}
fieldset{
    margin: auto;
    padding: 1em;
}
legend{
    font-size: 25px;
    font-weight: bold;
}

h4{
    font-size: 25px;
}
.previsioni{
    background-color:var(--col_info, #1f1f2c);
    padding: 1em;
    clear: both;
    margin: auto;
    padding: auto;
    width: var(--wpage);
    height: fit-content;
    display: grid;
}
.init{
    background-color: #cacaf3;
    color: var(--col_info);
    padding: 1em;
    height: auto;
    margin: 1em;
    width: auto;
    
}
.navbar{
    clear:both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: var(--wpage);
    margin: auto;
}
.active {
    background-color: #212c53;
    }
.mappe{
    width: auto;
    padding: auto;
}
.image{
    padding: 1em;
    width: auto;
    min-height: 20%;
    max-height: 300px;
    float: left;
}

li {
float: left;
}

.list_el{
    float: none;
}
.list_el a{
    display: inline;
    color: blue;
}
.list_el a:hover {
    background-color: inherit;
    color: purple;
    }

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}

footer{
    text-align: center;
    background-color: #333;
}
